In [1]:
# Set up Quandal for data retrieving 
import quandl

In [3]:
# Configuring Qnadal
QUANDL_API_KEY = "GyWSjyZ_ymaRjqqMze2L"
quandl.ApiConfig.api_key = QUANDL_API_KEY

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Read INR-USD exchange rate daily data
df_EX_INRUSD = pd.read_csv('INRUSD_Hist_Data_Daily.csv')
df_EX_INRUSD.head()

         DATE DEXINUS
0  1973-01-02    8.02
1  1973-01-03    8.02
2  1973-01-04    8.00
3  1973-01-05    8.01
4  1973-01-08    8.00

In [5]:
df_EX_INRUSD.tail()

             DATE DEXINUS
12574  2021-03-15   72.58
12575  2021-03-16   72.52
12576  2021-03-17   72.56
12577  2021-03-18   72.63
12578  2021-03-19   72.45

In [8]:
df_EX_INRUSD['DEXINUS'].head()

0    8.02
1    8.02
2    8.00
3    8.01
4    8.00
Name: DEXINUS, dtype: object

In [10]:
# Getting BSE DOLLEX 200, BSE DOLLEX 100 and BSE DOLLEX 30 data
df_dollex200 = quandl.get("BSE/DOLLEX")
df_dollex100 = quandl.get("BSE/DOL100")
df_dollex30 = quandl.get("BSE/DOLL30")

In [11]:
# Saving the data into csv
df_dollex200.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/DOLLEX200_Hist_Data_Daily.csv')
df_dollex100.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/DOLLEX100_Hist_Data_Daily.csv')
df_dollex30.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/DOLLEX30_Hist_Data_Daily.csv')

In [5]:
# Getting BSE 200 and BSE 100 data
df_sensex200 = quandl.get("BSE/BSE200")
df_sensex100 = quandl.get("BSE/BSE100")

In [6]:
df_sensex200.tail()

               Open     High      Low    Close
Date
2021-04-29  6423.70  6453.90  6358.71  6388.70
2021-04-30  6348.15  6383.55  6287.58  6298.84
2021-05-03  6251.56  6320.40  6213.85  6306.64
2021-05-04  6336.22  6350.57  6243.77  6258.00
2021-05-05  6302.78  6324.40  6266.93  6317.15

In [13]:
# Saving the data into csv
df_sensex200.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/SENSEX200_Hist_Data_Daily.csv')
df_sensex100.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/SENSEX100_Hist_Data_Daily.csv')

In [14]:
# Getting BSE 500 data 
df_sensex500 = quandl.get("BSE/BSE500")
df_sensex500.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/SENSEX500_Hist_Data_Daily.csv')

In [15]:
# AUTO - BSE/SI1900, Banking - BSE/SIBANK, Consumer Durables - BSE/SI0400, Capital Goods - BSE/SI0200, 
# Healthcare - BSE/SI0800, Energy - BSE/SPBSENIP, Industrials - BSE/SPBSIDIP, Metal - BSE/SI1200,
# Power - BSE/SIPOWE, PSU - BSE/SIBPSU, Realty - BSE/SIREAL, Telecom - BSE/SPBSTLIP, INFOTECK - BSE/SIBTEC,
# Utilities - BSE/SPBSUTIP
# Small Cap - BSE/BSESML, Mid Cap - BSE/BSEMID, Large Cap - BSE/SPBSLIP

In [16]:
df_smallcap = quandl.get("BSE/BSESML")
df_midcap = quandl.get("BSE/BSEMID")
df_largecap = quandl.get("BSE/SPBSLIP")

In [17]:
df_smallcap.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_SmallCap_Hist_Data_Daily.csv')
df_midcap.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_MidCap_Hist_Data_Daily.csv')
df_largecap.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_LargeCap_Hist_Data_Daily.csv')

In [18]:
df_bseAuto = quandl.get("BSE/SI1900")
df_bseBank = quandl.get("BSE/SIBANK")
df_bseConsDur = quandl.get("BSE/SI0400")
df_bseCapGoods = quandl.get("BSE/SI0200")
df_bseHealth = quandl.get("BSE/SI0800")
df_bseEnergy = quandl.get("BSE/SPBSENIP")
df_bseIndutrials = quandl.get("BSE/SPBSIDIP")
df_bseMetal = quandl.get("BSE/SI1200")
df_bsePower = quandl.get("BSE/SIPOWE")
df_bsePSU = quandl.get("BSE/SIBPSU")
df_bseRealty = quandl.get("BSE/SIREAL")
df_bseTelecom = quandl.get("BSE/SPBSTLIP")
df_bseInfoteck = quandl.get("BSE/SIBTEC")
df_bseUtilities = quandl.get("BSE/SPBSUTIP")

In [19]:
df_bseAuto.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_AUTO_Hist_Data_Daily.csv')
df_bseBank.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Banking_Hist_Data_Daily.csv')
df_bseConsDur.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_ConsDurables_Hist_Data_Daily.csv')
df_bseCapGoods.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_CapGoods_Hist_Data_Daily.csv')
df_bseHealth.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Healthcare_Hist_Data_Daily.csv')
df_bseEnergy.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Energy_Hist_Data_Daily.csv')
df_bseIndutrials.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Industrials_Hist_Data_Daily.csv')
df_bseMetal.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Metal_Hist_Data_Daily.csv')
df_bsePower.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Power_Hist_Data_Daily.csv')
df_bsePSU.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_PSU_Hist_Data_Daily.csv')
df_bseRealty.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Realty_Hist_Data_Daily.csv')
df_bseTelecom.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Telecom_Hist_Data_Daily.csv')
df_bseInfoteck.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Infoteck_Hist_Data_Daily.csv')
df_bseUtilities.to_csv(r'/Users/rohitkumawat/Desktop/Jaishree_Thesis_MA/BSE_Utilities_Hist_Data_Daily.csv')